<app-header></app-header>
<main class="container">
  <h1 class="hide-on-med-and-down">Bienvenido</h1>
  <div class="section"></div>
  <app-select-option *ngIf="stage == 0" [showBackButton]="false" [selectDisabled]="selectDisabled" (selectClicked)="next()"
    title="Selecciona tu servicio"
    subtitle="Belleza a tu alcance"
  >
    <app-image-card [title]="card?.title ?? ''" [subtitle]="card?.subtitle ?? ''"  *ngFor="let card of cards;index as i" (click)="onCardClick(i)" [selected]="i == selectedCardIdx"></app-image-card>
  </app-select-option>
  <app-select-option *ngIf="stage == 1" [showBackButton]="true" [selectDisabled]="selectDisabled" (backClicked)="previous()" (selectClicked)="validateSelection()"
    title="Selecciona tu horario"
    subtitle="Belleza a tu alcance"
  >
    <app-image-card [title]="horario?.nombre ?? ''" subtitle="" *ngFor="let horario of horarios;index as i" (click)="onHorarioClick(i)" [selected]="i == selectedHorarioIdx"></app-image-card>
  </app-select-option>
</main>
