<main class="container">
  <h3>Iniciar sesión</h3>
  <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col s12 input-group">
      <label for="email">Usuario: </label>
      <input id="email" type="email" formControlName="email" />
    </div>
    <div class="col s12 input-group">
      <label for="password">Contraseña: </label>
      <input id="password" type="password" formControlName="password" />
    </div>
    <div class="section">
      <button class="col s12 m6 btn red darken-2 white-text waves-effect waves-lighten "
        [disabled]="!form.valid" type="submit">
        Iniciar sesión
      </button>
    </div>
  </form>
</main>
