<section class="row flex flex-col">
  <header class="row col s12 valign-wrapper">
    <div class="left">
      <button
        class="btn-floating btn-large amber waves-effect waves-light z-depth-1"
        (click)="onBackButtonClicked()"
      >
        <i class="bx bx-arrow-back"></i>
      </button>
    </div>
    <div class="col s11 center-align right heading-container">
      <p>{{ subtitle }}</p>
      <h3 class="flow-text">{{ title }}</h3>
    </div>
  </header>
  <article #optionsContainer class="child-container">
    <ng-content></ng-content>
  </article>
  <div class="section"></div>
  <footer class="valign-wrapper col s12">
    <button [ngClass]="{'disabled':selectDisabled}" [disabled]="selectDisabled"
      class="btn grey waves-effect margin-auto"
      (click)="onSelectButtonClicked()"
    >
      Siguiente
    </button>
  </footer>
</section>
