/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

html,
body {
  background-color: white;
}

#toast-container {
  .ngx-toastr {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
}

/* Clases globales */
.margin-auto {
  margin: auto;
}

.flex {
  display: flex;

  &.flex-col {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }
}
